<ion-header>
    <ion-navbar>
        <button
            ion-button
            menuToggle
        >
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Projects</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col class="icon-col">
                <button
                    ion-button
                    ion-refresh
                >
                    <ion-icon
                        ion-refresh
                        name="refresh"
                        (click)="getProjectsList()"
                    ></ion-icon>
                </button>
            </ion-col>
            <ion-col
                id="queryStatus"
                class="statusInfo"
            >
                queryStatus
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col
                class="ion-header-left"
                (click)="setSort($event, 'Title')"
            >
                Project
                <span *ngIf="sortField == 'Title'">
                    <ion-icon
                        name="arrow-dropdown"
                        *ngIf="sortAsc == 'A'"
                    ></ion-icon>
                    <ion-icon
                        name="arrow-dropup"
                        *ngIf="sortAsc == 'D'"
                    ></ion-icon>
                </span>
            </ion-col>
            <ion-col
                class="ion-header"
                (click)="setSort($event, 'Project_x0020_Manager')"
            >
                Manager
                <span *ngIf="sortField == 'Project_x0020_Manager'">
                    <ion-icon
                        name="arrow-dropdown"
                        *ngIf="sortAsc == 'A'"
                    ></ion-icon>
                    <ion-icon
                        name="arrow-dropup"
                        *ngIf="sortAsc == 'D'"
                    ></ion-icon>
                </span>
            </ion-col>
            <ion-col
                class="ion-header-right"
                (click)="setSort($event, 'Status')"
            >
                Status
                <span *ngIf="sortField == 'Status'">
                    <ion-icon
                        name="arrow-dropdown"
                        *ngIf="sortAsc == 'A'"
                    ></ion-icon>
                    <ion-icon
                        name="arrow-dropup"
                        *ngIf="sortAsc == 'D'"
                    ></ion-icon>
                </span>
            </ion-col>
        </ion-row>
        <ion-row
            *ngFor="let project of projects"
            (click)="projectTapped($event, project)"
        >
            <ion-col class="withBorder">{{project.fields.Title}}</ion-col>
            <ion-col class="withBorder">
                {{project.fields.Project_x0020_Manager}}
            </ion-col>
            <ion-col class="withBorder">{{project.fields.Status}}</ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
