<ion-header>
    <ion-navbar>
        <button
            ion-button
            menuToggle
        >
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Tasks</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid *ngIf="selectedTask">
        <ion-row>
            <ion-col col-4 class="item-header">Task Name:</ion-col>
            <ion-col> {{selectedTask.fields.Title}}</ion-col>
        </ion-row>  
        <ion-row>
            <ion-col col-4 class="item-header">Predecessors:</ion-col>
            <ion-col>
                <div *ngFor="let p of selectedTask.fields.Predecessors">
                    {{p.LookupValue}}
                </div>
            </ion-col>
        </ion-row>         
        <ion-row>
            <ion-col col-4 class="item-header">Status:</ion-col> 
            <ion-col>{{selectedTask.fields.Status}}</ion-col>
        </ion-row> 
        <ion-row>
            <ion-col col-4 class="item-header">\% Complete:</ion-col>
            <ion-col>{{selectedTask.fields.PercentComplete}}</ion-col>
        </ion-row>  
        <ion-row>
            <ion-col col-4 class="item-header">Priority:</ion-col>
            <ion-col>{{selectedTask.fields.Priority}}</ion-col>
        </ion-row>    
        <ion-row>
            <ion-col col-4 class="item-header">Due Date:</ion-col>
            <ion-col>{{selectedTask.fields.DueDate}}</ion-col>
        </ion-row>                   
        <ion-row>
            <ion-col col-4 class="item-header">Created:</ion-col>
            <ion-col>{{selectedTask.fields.Created}}</ion-col>
        </ion-row> 
        <ion-row>
            <ion-col col-4 class="item-header">Modified:</ion-col>
            <ion-col>{{selectedTask.fields.Modified}}</ion-col>
        </ion-row> 

    </ion-grid>
</ion-content>
