<ion-header>
    <ion-navbar>
        <button
            ion-button
            menuToggle
        >
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Tasks</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid *ngIf="selectedTask">
        <ion-row >
            <ion-col text-center class="ion-header-left label-width">Label</ion-col>
            <ion-col text-center class="ion-header-right">Value</ion-col>
        </ion-row>        
        <ion-row>
            <ion-col class="ion-label">Task Name</ion-col>
            <ion-col> {{selectedTask.fields.Title}}</ion-col>
        </ion-row> 
        <ion-row>
                <ion-col class="ion-label">Description</ion-col>
                <ion-col>{{selectedTask.fields.Body}} </ion-col>
            </ion-row>           
        <ion-row>
            <ion-col class="ion-label">Predecessors</ion-col>
            <ion-col>
                <div *ngFor="let p of selectedTask.fields.Predecessors">
                    {{p.LookupValue}}
                </div>
            </ion-col>
        </ion-row>         
        <ion-row>
            <ion-col class="ion-label">Status</ion-col> 
            <ion-col>{{selectedTask.fields.Status}}</ion-col>
        </ion-row> 
        <ion-row>
            <ion-col class="ion-label">\% Complete</ion-col>
            <ion-col>
                <input type="tel" style="width:20%;" maxlength="3" placeholder="0 - 100" (keypress)="onKeyPress($event)" [(ngModel)]="percentComplete">\%
            </ion-col>
        </ion-row>  
        <ion-row>
            <ion-col class="ion-label">Comment</ion-col>
            <ion-col><textarea style="width:100%;height:100%;" placeholder="Please enter comments" [(ngModel)]="comment" ></textarea></ion-col>
        </ion-row>  
              
        <ion-row>
            <ion-col class="ion-label">Assigned To</ion-col>
            <ion-col>
                <div *ngFor="let p of selectedTask.fields.AssignedTo">
                    {{p.LookupValue}}
                </div>
            </ion-col>
        </ion-row>   
        <ion-row>
            <ion-col class="ion-label">Priority</ion-col>
            <ion-col>{{selectedTask.fields.Priority}}</ion-col>
        </ion-row>    
        <ion-row>
            <ion-col class="ion-label">Due Date</ion-col>
            <ion-col>{{selectedTask.fields.DueDate}}</ion-col>
        </ion-row>                   
        <ion-row>
            <ion-col class="ion-label">Created</ion-col>
            <ion-col>{{selectedTask.fields.Created}}</ion-col>
        </ion-row> 
        <ion-row>
            <ion-col class="ion-label">Modified</ion-col>
            <ion-col>{{selectedTask.fields.Modified}}</ion-col>
        </ion-row> 
    </ion-grid>
    <div text-center>
        <button ion-button round (click)="saveTask()">Save</button>
        <button ion-button round (click)="cancel()">Cancel</button>
    </div>     
</ion-content>
